# ignore nested repos
python/Python/

# ignore pycache
python/__pycache__

# ignore vscode settings
.vscode

# ignore personal json files
python/akamai-access.json

# ignore secret files
*.secret

# ignore output files
output.json
