[Unit]
Description=OpossumBot service
After=network.target
StartLimitIntervalSec=0

# User and ExecStart (Lines 12 and 13) both need be filled out before being applied
# to `/etc/systemd/system/`
# ExecStart will point at the node runtime file + bot core file
# something to evaluate is seeing if running $(which node) works for the ExecStart lines

[Service]
Type=simple
Restart=always
RestartSec=1
User=
ExecStart= 

[Install]
# not sure what the heck this does
WantedBy=multi-user.target

#
